{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>EDC Quiz</title>
    
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    
    <script>
        $(document).ready(function () {
            $(".hamburger").click(function () {
                $(".wrapper").toggleClass("collapse");
            });
        });
    </script>

    <style>
        .light{
            color:  rgb(122, 171, 168) !important;
        }
        textarea{
            width: 100%;
            border: none;
            border-bottom: 2px solid black;
            outline: none;
            font-size: 18px;
        }
        @media only screen and (max-width: 771px){
            h3{
                font-size: 1.2rem;
            }
            h4{
                font-size: 1rem;
            }
            .ques-label{
                font-size: 14px;
            }
            input[type=radio] {
                width: 1.2em;
                height: 1.2em;
            }
            .btn{
                font-size: 1rem;
            }
            textarea{
                font-size: 16px;
            }
            .question-section{
                padding: 1rem;
            }
            .ques{
                padding: 0.5rem 0 0.5rem 0;
            }
        }
        .question-section{
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>

</head>

<body>
    
    <div class="wrapper">
        <!-- Navbar -->
        <div class="top_navbar">
            <!-- Hamburger Icon -->
            <div class="hamburger">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>

            <!-- Hi User and Timer -->
            <div class="top_menu">
                <h3>Hi {{ user.name }}🙂!</h3>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <h3 id="demo"></h3>
                    </li>
                </ul>
                <script>
                    var deadline = new Date("{{end_time}}").getTime();
                    var x = setInterval(function () {
                        var now = new Date().getTime();
                        var t = deadline - now;
                        var days = Math.floor(t / (1000 * 60 * 60 * 24));
                        var hours = Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
                        var seconds = Math.floor((t % (1000 * 60)) / 1000);
                        if (hours < "10") { hours = "0" + hours; }
                        if (minutes < "10") { minutes = "0" + minutes; }
                        if (seconds < "10") { seconds = "0" + seconds; }
                        document.getElementById("demo").innerHTML = hours + ":" + minutes + ":" + seconds;
                        if (t <= 0) {
                            document.getElementById("form_submit").submit();
                            clearInterval(x);
                            document.getElementById("demo").innerHTML = "EXPIRED";
                            return
                        }
                    }, 1000); 
                </script>
            </div>
        </div>

        <div class="sidebar" style="overflow-y: auto; padding-bottom: 5rem">
            <ul>
                <li id="title1"><a href="#q1">
                        <span class="icon"><i class="fas fa-lightbulb"></i></span>
                        <span class="title">Question 1</span></a></li>
                <li id="title2"><a href="#q2">
                        <span class="icon"><i class="fas fa-lightbulb"></i></span>
                        <span class="title">Question 2</span>
                    </a></li>
                <li id="title3"><a href="#q3">
                        <span class="icon"><i class="fas fa-lightbulb"></i></span>
                        <span class="title">Question 3</span>
                    </a></li>
                <li id="title4"><a href="#q4">
                        <span class="icon"><i class="fas fa-lightbulb"></i></span>
                        <span class="title">Question 4</span>
                    </a></li>
                <li id="title5"><a href="#q5">
                        <span class="icon"><i class="fas fa-lightbulb"></i></span>
                        <span class="title">Question 5</span>
                    </a></li>
                <li id="title6"><a href="#q6">
                        <span class="icon"><i class="fas fa-lightbulb"></i></span>
                        <span class="title">Question 6</span>
                    </a></li>
                <li id="title7"><a href="#q7">
                        <span class="icon"><i class="fas fa-lightbulb"></i></span>
                        <span class="title">Question 7</span>
                    </a></li>
                <li id="title8"><a href="#q8">
                        <span class="icon"><i class="fas fa-lightbulb"></i></span>
                        <span class="title">Question 8</span>
                    </a></li>
                <li id="title9"><a href="#q9">
                        <span class="icon"><i class="fas fa-lightbulb"></i></span>
                        <span class="title">Question 9</span>
                    </a></li>
                <li id="title10"><a href="#q10">
                        <span class="icon"><i class="fas fa-lightbulb"></i></span>
                        <span class="title">Question 10</span>
                    </a></li>
                <li id="title11"><a href="#q11">
                        <span class="icon"><i class="fas fa-lightbulb"></i></span>
                        <span class="title">Question 11</span>
                    </a></li>
                <li id="title12"><a href="#q12">
                        <span class="icon"><i class="fas fa-lightbulb"></i></span>
                        <span class="title">Question 12</span>
                    </a></li>
                <li id="title13"><a href="#q13">
                        <span class="icon"><i class="fas fa-lightbulb"></i></span>
                        <span class="title">Question 13</span>
                    </a></li>
                <li id="title14"><a href="#q14">
                        <span class="icon"><i class="fas fa-lightbulb"></i></span>
                        <span class="title">Question 14</span>
                    </a></li>
                <li id="title15"><a href="#q15">
                        <span class="icon"><i class="fas fa-lightbulb"></i></span>
                        <span class="title">Question 15</span>
                    </a></li>
            </ul>
        </div>

        <!-- Questions -->
        <div class="main_container">
            <form id="form_submit" method="POST">
                {% csrf_token %}
                {% for question in questions %}
                    {% if question.ques_type == "MCQ" %}
                    <div id="q{{ question.ques_no }}" class="container question-section">
                        <div class="pd-5">
                            <h3 class="mt-4"><i class="fas fa-lightbulb light"></i>&nbsp Question {{ question.ques_no }}:</h3>
                            <div>
                                <h4>{{ question.ques }}</h4>
                            </div>
                            <div class="ques">
                                <input type="radio" name="answer{{ question.ques_no }}" id="question-1-answers-A" value="A" />
                                <span class="ques-label">{{ question.option1 }}</span>
                            </div>

                            <div class="ques">
                                <input type="radio" name="answer{{ question.ques_no }}" id="question-1-answers-B" value="B" />
                                <label class="ques-label">{{ question.option2 }}</label>
                            </div>

                            <div class="ques">
                                <input type="radio" name="answer{{ question.ques_no }}" id="question-1-answers-C" value="C" />
                                <label class="ques-label">{{ question.option3 }}</label>
                            </div>

                            <div class="ques">
                                <input type="radio" name="answer{{ question.ques_no }}" id="question-1-answers-D" value="D" />
                                <label class="ques-label">{{ question.option4 }}</label>
                            </div>
                            <div class="pt-2" style="display: inline-block;">
                                {% if question.has_prev %}
                                    <a href="#q{{ question.has_prev }}" class="btn btn-primary">Previous</a>
                                {% endif %}
                                {% if question.has_next %}
                                    <a href="#q{{ question.has_next }}" class="btn btn-primary">Next</a>
                                {% endif %}
                                {% if question.ques_no == 15 %}
                                    <input type="submit" class="btn btn-primary">Submit</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                
                    {% else %}

                    <div id="q{{ question.ques_no }}" class="container question-section ">
                        <div class="pd-5">
                            <h3 class="mt-4"><i class="fas fa-lightbulb light"></i>&nbsp Question {{ question.ques_no }}:</h3>
                            <div>
                                <h4>{{ question.ques }}</h4>
                            </div>

                            <div class="ques">
                                <textarea id="txt{{ question.ques_no }}" type="text" rows="5" name="answer{{ question.ques_no }}"></textarea>
                            </div>
                            <div class="pt-2" style="display: inline-block;">
                                {% if question.has_prev %}
                                    <a href="#q{{ question.has_prev }}" class="btn btn-primary">Previous</a>
                                {% endif %}
                                {% if question.has_next %}
                                    <a href="#q{{ question.has_next }}" class="btn btn-primary">Next</a>
                                {% endif %}
                                {% if question.ques_no == 15 %}
                                    <input type="submit" class="btn btn-primary">Submit</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {% endif %}
                {% endfor %}
            </form>
        </div>
    </div>
    
    <script>
        $('input[type=radio]').click(function () {
            if (this.previous) {
                this.checked = false;
                var index = '#title' + this.name.substring(6);
                $(index).css("background-color", "#F8F9FA");
                $(index + ' span').css("color", "#7aaba8");
            }
            this.previous = this.checked;
            if(this.checked) {
                var index = '#title' + this.name.substring(6);
                $(index).css("background-color", "green");
                $(index + ' span').css("color", "white");
            }

        });

        {% for question in questions %}
            $("#txt{{ question.ques_no }}").blur(function(){
            var index = '#title' + this.name.substring(6);
            if($(this).val()!="")
            {
                $(index).css("background-color", "green");
                $(index + ' span').css("color", "white");
            }
            else{
                $(index).css("background-color", "#F8F9FA");
                $(index + ' span').css("color", "#7aaba8");
            }
            });
        {% endfor %}
    </script>

</body>

</html>